.container {
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#ball {
    width:100px;
    height:100px;
    background-color:red;
    border:1px solid black;
    border-radius: 50%;
    animation: 5s infinite alternate 1s;
    animation-name:grow-shift,color-shift;
    /*animation-duration:5s;
    animation-delay:1s;
    animation-name:change-color;
    animation-iteration-count:infinite;
    animation-direction:alternate;*/
}

@keyframes grow-shift {
    from {
    }
    30% {
        transform:scale(2);
    }
    60% {
        transform:scale(1.5);
    }
    90% {
        transform:scale(2.5);
    }
    to {
        transform:scale(10);
    }

    
}

@keyframes color-shift {
    from {
        background-color:red;
    }
    30% {
        background-color:purple;
    }
    60% {
        background-color:blue;
    }
    90% {
        background-color:purple;
    }
    to {
        background-color:purple;
    }
}